table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid rgb(54, 54, 54);
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table tr.selected {
  background-color: rgb(157, 203, 255);
}

table th, tfoot td {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #dadada;
  color: rgb(0, 0, 0);
}

.center
{
  text-align: center;
  width: 100%;
}