.input-field-container {
  width: 439px;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 2px;
  flex-direction: row;
  justify-content: space-between;
}
.text-input-field-text {
  width: 300px;
}

.input-field-container input:disabled
{
  cursor: default;
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: rgba(118, 118, 118, 0.3);
}